/* Update your BookList.css or create a new CSS file */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0rem;
    background-color: #f9f9f9;

    border-radius: 5px;
  }
 .card-items{}
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .book-list-item {
    flex-basis: calc(20% - 1rem); /* 20% width for 5 cards per row with spacing */
    margin: 1.1rem;
    padding: 0rem;
  }
  
  /* Style Material-UI Card components */
  .MuiCard-root {
    display: flex;
    flex-direction: column; /* Make the cards stack on top of each other */
  }
  
  .MuiCardMedia-root {
    width: 100%; /* Make the image take the full width of the card */
    max-height: 140px; /* Adjust the height as needed */
  }
  
  .MuiCardContent-root {
    flex: 1;
  }
  
  .book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .book-author {
    font-size: 1.2rem;
    color: #666;
  }
  
  .book-price {
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Media query for adjusting the number of cards in a row */
  @media (max-width: 1080px) {
    .book-list-item {
      flex-basis: calc(25% - 1rem); /* 25% width for 4 cards per row with spacing */
    }
  }
  
  @media (max-width: 768px) {
    .book-list-item {
      flex-basis: calc(33.33% - 1rem); /* 33.33% width for 3 cards per row with spacing */
    }
  }
  